Repository wojtrawi/code-sink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts,html}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore(*): add stylelint CS-0
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.component.scss
Due: prettier --write, stylelint --fix

chore(*): add Dockerfile CS-0
  .dockerignore
  Dockerfile
  nginx.conf
Due: none

chore(*): add headless chrome CS-0
  .dockerignore
  Dockerfile
  angular.json
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

chore(*): add lighthouse CS-0
  .eslintignore
  .gitignore
  init-browser.js
  lighthouserc.js
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
Due: eslint --fix, prettier --write

chore(*): add mocha reporter for CI testing CS-0
  angular.json
  karma.conf.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ wojtrawi/code-sink@98017e357514b5c63c7780889de58c19b7d78f93 🚀
  3rdpartylicenses.txt
  favicon.ico
  index.html
  main.f5764ff86e85e707.js
  polyfills.85da0d9307a0188c.js
  runtime.d1f645ca35d50c98.js
  styles.ef46db3751d8e999.css
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ wojtrawi/code-sink@b9dc440b9a45b69fa58a18b9e5028b3cdd9c8f83 🚀
  index.html
Due: eslint --fix, prettier --write

chore(*): add basic CI setup CS-0
  .github/workflows/main.yml
  angular.json
Due: prettier --write

Deploying to gh-pages from @ wojtrawi/code-sink@e139989667f0035be5f3203065ec986369ba417a 🚀
  index.html
Due: eslint --fix, prettier --write

chore(*): use cache in CI CS-0
  .github/workflows/main.yml
Due: none

chore(*): run lighthouse in CI CS-0
  .github/workflows/main.yml
  lighthouserc.js
Due: eslint --fix, prettier --write

chore(*): test CI setup CS-0
  .github/workflows/main.yml
Due: none

chore(*): test CI setup CS-0 (#1)
  .github/workflows/main.yml
Due: none

chore(*): split lighthouse jobs CS-0
  .github/workflows/main.yml
  lighthouserc.local.js
  lighthouserc.prod.js
  package.json
Due: eslint --fix, prettier --write

chore(*): expose token for LHCI CS-0
  .github/workflows/main.yml
Due: none

chore(*): split lighthouse jobs CS-0 (#2)
  .github/workflows/main.yml
  lighthouserc.local.js
  lighthouserc.prod.js
  package.json
Due: eslint --fix, prettier --write

chore(*): fix CI setup CS-0 (#1)
  .github/workflows/main.yml
Due: none

chore(*): add lhci-server CS-0
  lighthouserc.prod.js
  src/app/app.component.ts
Due: eslint --fix, prettier --write

chore(*): fix unit test CS-0
  src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ wojtrawi/code-sink@4f791c083c91442a7a128777df557941bfcd3f5d 🚀
  index.html
  main.8853ca353923030e.js
  main.f5764ff86e85e707.js
Due: eslint --fix, prettier --write

chore(*): fix lhci config CS-0
  lighthouserc.prod.js
Due: eslint --fix, prettier --write

chore(*): add page description CS-0
  src/index.html
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ wojtrawi/code-sink@8e4f5eb15896b89c317a4f9ade76cb3c43bb77c3 🚀
  index.html
Due: eslint --fix, prettier --write

chore(*): add i18n support WIP CS-0
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/shared/app-config/data-access/app-config.initializer.ts
  src/app/shared/app-config/data-access/app-config.model.ts
  src/app/shared/app-config/data-access/app-config.service.ts
  src/app/shared/app-config/data-access/index.ts
  src/app/shared/i18n/data-access/i18n-initializer.service.ts
  src/app/shared/i18n/data-access/i18n-loader.service.ts
  src/app/shared/i18n/data-access/i18n.initializer.ts
  src/app/shared/i18n/data-access/i18n.model.ts
  src/app/shared/i18n/data-access/i18n.service.ts
  src/app/shared/i18n/data-access/index.ts
  src/app/shared/i18n/data-access/locale-id.provider.ts
  src/app/shared/user-preferences/data-access/index.ts
  src/app/shared/user-preferences/data-access/user-preferences.model.ts
  src/app/shared/user-preferences/data-access/user-preferences.service.ts
  src/app/shared/utils-rxjs-operators/index.ts
  src/app/shared/utils-rxjs-operators/share-with-ttl.ts
  src/app/shared/utils-rxjs-operators/snapshot.ts
  src/app/shared/utils/index.ts
  src/app/shared/utils/script-loader.service.ts
  src/assets/app-config.json
Due: eslint --fix, prettier --write

chore(*): add Transloco CS-0
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/shared/i18n/data-access/i18n-initializer.service.ts
  src/app/shared/i18n/data-access/i18n-loader.service.ts
  src/app/shared/i18n/data-access/i18n.service.ts
  src/app/shared/i18n/data-access/index.ts
  src/app/shared/i18n/data-access/locale-id.provider.ts
  src/app/shared/i18n/data-access/transloco/index.ts
  src/app/shared/i18n/data-access/transloco/transloco-config.provider.ts
  src/app/shared/i18n/data-access/transloco/transloco-http-loader.service.ts
  src/app/shared/i18n/data-access/transloco/transloco-root.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/pl.json
  transloco.config.js
Due: eslint --fix, prettier --write

chore(*): add i18n keys manager CS-0
  package-lock.json
  package.json
  src/app/app.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/pl.json
  transloco.config.js
Due: eslint --fix, prettier --write

chore(*): add Transloco locale CS-0
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/i18n/data-access/transloco/transloco-config.provider.ts
  src/app/shared/i18n/data-access/transloco/transloco-root.module.ts
Due: eslint --fix, prettier --write

chore(*): refactor Transloco WIP CS-0
  .eslintrc.json
  .stylelintrc.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/i18n/feature-one/i18n-feature-one.module.ts
  src/app/i18n/feature-one/i18n-one/i18n-one.component.html
  src/app/i18n/feature-one/i18n-one/i18n-one.component.scss
  src/app/i18n/feature-one/i18n-one/i18n-one.component.ts
  src/app/i18n/feature-one/index.ts
  src/app/i18n/feature-shell/i18n-feature-shell.module.ts
  src/app/i18n/feature-shell/i18n-shell/i18n-shell.component.html
  src/app/i18n/feature-shell/i18n-shell/i18n-shell.component.scss
  src/app/i18n/feature-shell/i18n-shell/i18n-shell.component.ts
  src/app/i18n/feature-shell/index.ts
  src/app/i18n/feature-two/i18n-feature-two.module.ts
  src/app/i18n/feature-two/i18n-two/i18n-two.component.html
  src/app/i18n/feature-two/i18n-two/i18n-two.component.scss
  src/app/i18n/feature-two/i18n-two/i18n-two.component.ts
  src/app/i18n/feature-two/index.ts
  src/app/shared/i18n/data-access/i18n.service.ts
  src/app/shared/i18n/data-access/locale-id.provider.ts
  src/app/shared/i18n/data-access/transloco/transloco-root.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/pl.json
Due: eslint --fix, prettier --write, stylelint --fix
